@model System.Collections.Generic.IEnumerable<AndrasTimarTGV.Models.Entities.Reservation>
@{
    <div class="panel-body">
        @if (TempData["ERROR"] != null) {
            <div class="alert alert-danger">@TempData["ERROR"]</div>
        }
    </div>
    if (Model.Any()) {
        foreach (var reservation in @Model) {
            @Html.Partial("_ReservationSummary", reservation)
        }
    }
    else
    {
        <h4>You have no reservations currently</h4>
    }
}