
.custom-div {
    border-radius: 10%;
    float: right;
    margin: 1%;
    padding: 10px;
}

.side-component {
    border-radius: 15%;
    background-color: lightgrey;
}

.bg-primary { background-color: lightgrey; }

.btn {
    background: crimson;
    border-color: crimson;
    -ms-border-radius: 10%;
    border-radius: 10%;
    margin:5px;
}

.banner {
    background-image: url("/img/parisbanner.png");
    background-size: cover;
}

.banner h3 {
    color: white;
    font-weight: bolder;
    font-family: Serif;
}

.banner h5 {
    color: white;
    font-weight: bolder;
    font-family: Serif;
}
.link-nodec:link{
    text-decoration: none;
}