@model AndrasTimarTGV.Models.ViewModels.TripViewModel

<div><h4>Search</h4></div>
    <form asp-action="List" asp-controller="Trip" method="post">
        <div class="form-group">
            <label>Departure City</label>          
            <div>
                @Html.DropDownListFor(x => x.FromCityId, Model.Cities, "Choose departure city")
            </div>
        </div>
        <div class="form-group">
            <label>Destination City</label>
            <div>
                @Html.DropDownListFor(x => x.ToCityId, Model.Cities, "Choose destination city")
            </div>
        </div>
        <div class="form-group">
            <div><span asp-validation-for="Time" class="text-danger"></span></div>
            <label asp-for="Time"></label>
            <div><span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <input asp-for="Time" type="date" class="form-control"/>
        </div>
        <div class="left">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
