@model AndrasTimarTGV.Models.ViewModels.LoginUserViewModel

<div><h4>Log In</h4></div>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" asp-controller="Account" method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

    <div class="form-group">
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
    <a asp-action="Register" asp-controller="Account" class="btn btn-primary">Register</a>
</form>