@using AndrasTimarTGV.Models.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.css" />   
    <link rel="stylesheet" asp-href-include="/style/custom.css"/> 
    <link rel="stylesheet" asp-href-include="lib/fontawesome/css/*.css" />
    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js">
    </script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script>
    <title>SportsStore</title>
</head>
<body>
    
    <div class="jumbotron banner card">
            <div class="container">
                @await Component.InvokeAsync($"Banner")
            </div>
        </div>
    <div class="site-content">
        <div class="container-fluid">
            <style>
                .input-validation-error {
                    border-color: red;
                    background-color: #fee;
                }
            </style>
            <div class="well col-xs-11 col-md-2 custom-div">
                @if (User.Identity != null && (User?.Identity?.IsAuthenticated ?? false)) {
                    @Html.Partial("_ProfileSummary")
                } else {
                    @await Component.InvokeAsync($"LoginForm")
                }
            </div>
            <div class="custom-div col-xs-11 col-md-6">
                @RenderBody()
            </div>
            <div class="well col-xs-11 col-md-3 custom-div">
                @await Component.InvokeAsync($"SearchForm")
            </div>
        </div>
    </div>
</body>
</html>


<!-- <div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="/">TGV Tickets</a>
    <div id="navbar" class="navbar-collapse collapse dropdown-menu">
        @if (User?.Identity?.IsAuthenticated ?? false) {
            <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
        }
    </div>
</div> -->