<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.css" />   
    <link rel="stylesheet" asp-href-include="/style/custom.css"/> 
    <link rel="stylesheet" asp-href-include="lib/fontawesome/css/*.css" />
    <title>SportsStore</title>
</head>
<body>
    <a class="label-default" href="/home/index">
        <div class="jumbotron banner">
            <div class="container text-left">
                @await Component.InvokeAsync($"Banner")
            </div>
        </div>
    </a>
        <div class="container-fluid">
            <div class="well col-xs-11 col-lg-2 custom-div">
                @if (User.Identity != null && (User?.Identity?.IsAuthenticated ?? false)) {
                   @Html.Partial("_ProfileSummary")
                } else {
                    @await Component.InvokeAsync($"LoginForm")
                }
            </div>
            <div class="custom-div col-xs-11 col-lg-6">
                @RenderBody()
            </div>
            <div class="well col-xs-11 col-lg-3 custom-div">
                @await Component.InvokeAsync($"SearchForm")
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>


<!-- <div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="/">TGV Tickets</a>
    <div id="navbar" class="navbar-collapse collapse dropdown-menu">
        @if (User?.Identity?.IsAuthenticated ?? false) {
            <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
        }
    </div>
</div> -->